.btn {
	display: inline-block;
	vertical-align: top;
	padding: 14px 33px;

	@include text();
	letter-spacing: -0.0022em;
	font-weight: 500;

	border: none;
	border-radius: 30px;
	background-color: $color-blue;

	@include transition(background-color);

	cursor: pointer;

	@include hover {

		background-color: lighten($color-blue, 15%);
	}

}
