.consultation {
	padding: 40px 0;
	background-color: $color-blue;

	@include media(lg) {
		padding: 80px 0;
	}

	&__inner {
		@include media(md) {
			display: flex;
		}
	}

	&__heading {
		margin: 0 0 8px;

		@include text(24px, 1.16666);
		letter-spacing: 0.0036em;

		@include media(md) {
			width: 100%;
			max-width: 334px;
			margin-bottom: 0;
			padding-right: 5px;

			//margin-right: 9.30555vw;
		}
	}

	&__main {
		@include media(md) {
			//flex-grow: 1;
			max-width: 648px;
			margin-left: auto;
		}
	}

	&__text {
		margin: 0 0 32px;

		@include text();
		letter-spacing: -0.0022em;
	}

	&__manager {
		margin-bottom: 24px;
	}

	&__worktime {
		margin-top: 16px;
	}
}
