.feedback {
	padding: 40px 0;
	background-color: $color-blue;

	@include media(lg) {
		padding: 112px 0 88px;
	}

	&__inner {
		@include media(md) {
			display: flex;
		}
	}

	&__heading {
		margin: 0 0 8px;

		@include text(24px, 1.16666);

		@include media(md) {
			flex-shrink: 0;
			margin-right: 9.30555vw;
		}

		@include media(xl) {
			margin-right: 134px;
		}
	}

	&__field {
		margin-bottom: 25px;

		&--half {
			width: calc(50% - 6px);

			@include media(md) {
				width: calc(50% - 10px);
			}
		}
	}

	&__form {
		@include media(md) {
			max-width: 648px;
		}

		&-text {
			margin-bottom: 25px;

			@include text();
			letter-spacing: -0.0022em;
		}

		&-bottom {
			width: 100%;
			margin-top: 7px;

			@include media(md) {
				display: flex;

				& > * {
					align-self: center;
				}
			}
		}

		&-consent {
			@include text(14px, 1.28571);
			letter-spacing: -0.0016em;
			text-align: center;

			@include media(md) {
				max-width: 272px;
				text-align: left;
			}
		}

		form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			button[type="submit"] {
				@extend .btn;

				display: block;
				width: 100%;
				min-width: 200px;
				margin-bottom: 16px;
				box-shadow: 0 0 0 1px rgba($color-default-white, 0.2);

				@include media(md) {
					width: auto;
					margin-right: 20px;
					margin-bottom: 0;
				}
			}
		}
	}
}
