.footer {
	$self: &;
	padding-top: 32px;
	padding-bottom: 16px;
	background-color: $color-dark2;

	&__inner {
		position: relative;

		@include media(md) {
		}

		@include media(lg) {
		}

		@include media(xl) {
		}
	}

	&__social {
		margin-top: 20px;

		@include media(lg) {
			margin-top: 31px;
		}
	}

	&__copy {
		width: 100%;
		margin-bottom: 16px;

		@include text(12px, 1.166);

		@include media(lg) {
			width: auto;
			margin-bottom: 0;
		}
	}

	&__privacy {
		@include text(12px, 1.166);
		text-decoration: underline;

		@include hover {
			text-decoration: none;
		}
	}
}
