.header {
	$self: &;
	padding: 32px 0;

	@include media(md) {
	}

	@include media(lg) {
		padding: 48px 0;
	}

	&--absolute {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		//background-color: $color-athens-gray;
		transform: translateY(100%);

		@include transition(transform);
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;

		& > * {
			align-self: center;
		}

		@include media(sm) {
		}

		@include media(md) {
		}

		@include media(lg) {
		}

		@include media(xl) {
		}
	}

	&__logo {
		width: 35px;
		margin-right: 12px;

		@include media(sm) {
		}

		@include media(lg) {
			flex-shrink: 0;
			margin-right: 5.27777vw;
		}

		@include media(xl) {
			margin-right: 76px;
		}
	}

	&__site-name {
		position: relative;
		max-width: 120px;
		padding-left: 11px;

		@include text(14px, 1.28571);
		letter-spacing: -0.0016em;
		opacity: 0.7;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 24px;
			border-left: solid 1px $color-default-white;
		}

		@include media(lg) {
			display: none;
		}
	}

	&__canvas {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100vh;
		min-height: 480px;
		padding: 40px 40px 100px;
		background-color: $color-blue;

		&-inner {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			@include media(lg) {
				width: 100%;
				flex-direction: row;
				flex-wrap: wrap;

				& > * {
					align-self: center;
				}
			}
		}

		@include media(lg) {
			position: static;
			display: flex;
			flex-grow: 1;
			width: auto;
			height: auto;
			min-height: 0;
			padding: 0;
			background-color: transparent;
		}
	}

	&__menu {
		@include media(lg) {
			margin-right: auto;
		}
	}

	&__menu-toggle {
		margin-left: auto;

		@include media(sm) {
			//margin-left: 32px;
		}

		@include media(lg) {
			display: none;
		}
	}

	&__menu-close {
		position: absolute;
		top: 16px;
		right: 16px;
		display: block;
		width: 32px;
		height: 32px;
		padding: 0;
		border: none;
		background-color: transparent;
		cursor: pointer;

		svg {
			display: block;
			width: 100%;
			height: auto;
			fill: $color-default-white;

			@include transition(fill);
		}

		&:hover,
		&:focus {
			outline: none;

			svg {
				fill: $color-dark;
			}
		}

		@include media(lg) {
			display: none;
		}
	}

	&__contacts {
		position: absolute;
		left: 40px;
		right: 40px;
		bottom: 20px;
		display: flex;
		flex-direction: column;
		text-align: center;
		padding-bottom: 3px;

		@include media(lg) {
			position: static;
		}
	}

	&__phone {
		@include text(24px);
		letter-spacing: -0.0022em;

		@include transition(color);

		@include media(lg) {
			font-size: 15px;
		}

		&:hover,
		&:focus {
			outline: none;
			text-decoration: underline;
		}

		&:active {
			opacity: 0.7;
		}

		@include media(lg) {
			&:hover,
			&:focus {
				color: $color-blue;
				text-decoration: none;
			}
		}
	}

	&__get-callback {
		@include text(18px);
		opacity: 0.6;
		font-weight: 500;
		margin-top: 3px;

		@include transition(opacity);

		@include media(lg) {
			font-size: 12px;
		}

		@include hover {
			opacity: 1;
		}
	}

	&__btn {
		display: none;

		@include media(lg) {
			display: inline-block;
			margin-left: 32px;
		}
	}
}
