.header {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 101;

	$self: &;
	padding: 26px 0 25px;
	background: #fafafa;

	&.active {
		position: fixed;
		top: 0;
		transition: top 0.3s linear;
	}
	&.hidden {
		top: -200px;
		position: fixed;
	}

	@include media(md) {
	}

	@include media(lg) {
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		background-color: $color-athens-gray;
		transform: translateY(100%);

		@include transition(transform);
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
		padding: 0 32px;

		& > * {
			align-self: center;
		}

		@include media(sm) {
		}

		@include media(md) {
		}

		@include media(lg) {
		}

		@include media(xl) {
			max-width: 1342px;
		}
	}

	&__logo {
		width: 120px;
		margin-right: 12px;

		@include media(sm) {
			width: 121px;
		}

		@include media(lg) {
			margin-right: 55px;
		}
	}

	&__contacts {
		@include media(sm) {
			display: flex;
			margin-left: auto;
		}

		@include media(lg) {
			margin-left: 0;
			margin-right: auto;
		}
	}

	&__email {
		display: none;
		font-family: $font-family--secondary;

		@include text(14px, 1, $color-pale-sky);
		@include transition(color);

		@include hover {
			color: $color-blue;
		}

		@include media(sm) {
			display: block;
			margin-left: 24px;
		}

		@include media(lg) {
			margin-left: 55px;
		}
	}

	&__phone {
		font-family: $font-family--secondary;

		@include text(14px, 1);
		font-weight: 900;
	}

	&__menu {
	}

	&__menu-toggle {
		margin-left: 12px;

		@include media(sm) {
			margin-left: 32px;
		}

		@include media(lg) {
			margin-left: 64px;
		}

		@include media(xl) {
			margin-left: 123px;
		}
	}
}
