.heading {
	@include text(32px, 1.125, $color-dark2);
	font-weight: 700;
	letter-spacing: -0.04em;

	&--small {
		letter-spacing: -0.07em;
		line-height: 1.05;
	}

	&--large {
		letter-spacing: -0.05em;
	}

	&--upper {
		text-transform: uppercase;
	}

	@include media(md) {
		font-size: 40px;

		&--small {
			font-size: 36px;
		}
	}

	@include media(xl) {
		font-size: 64px;

		&--small {
			font-size: 42px;
		}

		&--large {
			font-size: 98px;
		}
	}

	&--upper {
		text-transform: uppercase;
	}
}
