.social {
	$self: &;

	@include list-reset;
	display: flex;
	flex-wrap: wrap;

	&__item + &__item {
		margin-left: 21px;
	}

	&__link {
		display: flex;
		width: 29px;
		height: 29px;
		justify-content: center;

		svg {
			display: block;
			align-self: center;
			fill: $color-default-white;

			@include transition(fill);
		}

		@include hover {
			svg {
				fill: $color-pale-sky;
			}
		}
	}
}
