section.about
	.container.about__container
		.heading.about__title О компании
		.about__wrapper
			.about__image
				img(src='img/about.jpg', srcset='img/about@2x.jpg 2x', width='667', height='445', alt='')
			.about__content
				.about__subtitle Светопрозрачные конструкции
				.about__desc Светопрозрачные конструкции в наше время активно используются при строительстве самых разных объектов. Они позволяют сделать
									|  здание теплее, защитить от лишних шумов, а также улучшить внешний вид постройки. Именно поэтому на многих фасадах различных зданий,
									|  в офисах и частных домах предпочитают использовать светопрозрачные конструкции.
				+button('Подробнее', 'about__btn', '#')
