section.advantages-garden
	.advantages-garden__inner.container
		h2.advantages-garden__heading.heading Преимущества зимних садов
		.advantages-garden__wrapper
			.advantages-garden__column
				.advantages-garden__text Применяемые при изготовлении зимних садов алюминиевые профили имеют наиболее высокие прочностные характеристики, позволяющие использовать их в качестве несущих элементов конструкции зимнего сада.
			.advantages-garden__column
				ul.advantages-garden__list
					li.advantages-garden__item.check-item Высокий уровень устойчивости к различным внешним воздействиям
					li.advantages-garden__item.check-item Высокая степень пожаробезопасности
					li.advantages-garden__item.check-item Множество вариантов цветов и фактур позволяют создать индивидуальный стиль.
					li.advantages-garden__item.check-item Высокие теплоизоляционные и звукоизоляционные свойства
					li.advantages-garden__item.check-item Экологически чистые материалы

		include lines
