section.advantages.advantages--simple
	.container.advantages__container
		include lines
		.advantages__wrapper
			.advantages__top
				.heading.advantages__title Наши преимущества
				//-Преимущества работы с нами
				.advantages__nav.swiper-nav
					button.slider__btn.slider__btn--prev.advantages-prev
						+icon("chevron")(width="16", height="30")
					.swiper-pagination.advantages-pagi
					button.slider__btn.slider__btn--next.advantages-next
						+icon("chevron")(width="16", height="30")
			.advantages__slider.swiper-container.__js_advantages-slider
				.swiper-wrapper
					.advantages-item.advantages-item--simple.advantages__item.swiper-slide
						.advantages-item__top
							.advantages-item__icon
								+icon('advantage-saw')
							.advantages-item__content.advantages-item__content--mobile
								.advantages-item__title Собственное <br>производство
						.advantages-item__content
							.advantages-item__title Собственное <br>производство
							.advantages-item__text Изготовление светопрозрачных конструкций всех типов: типовые ЖК, бизнес центры, торговые центры
					.advantages-item.advantages-item--simple.advantages__item.swiper-slide
						.advantages-item__top
							.advantages-item__icon
								+icon('advantage-rocket')
							.advantages-item__content.advantages-item__content--mobile
								.advantages-item__title 13 лет <br> на рынке
						.advantages-item__content
							.advantages-item__title 13 лет <br> на рынке
							.advantages-item__text Работаем с 2007 года. 86 специалистов в штате. 441 реализованный проект
					.advantages-item.advantages-item--simple.advantages__item.swiper-slide
						.advantages-item__top
							.advantages-item__icon
								+icon('advantage-note')
							.advantages-item__content.advantages-item__content--mobile
								.advantages-item__title Сертификация, <br>СРО
						.advantages-item__content
							.advantages-item__title Сертификация, <br>СРО
							.advantages-item__text Является участником СРО Москвы и имеем все разрешительные документы, как для проведения работ, так и на производимые продукты

					.advantages-item.advantages-item--simple.advantages__item.swiper-slide
						.advantages-item__top
							.advantages-item__icon
								+icon('advantage-note')
							.advantages-item__content.advantages-item__content--mobile
								.advantages-item__title О наших объектах <br> пишут
						.advantages-item__content
							.advantages-item__title О наших объектах <br> пишут
							.advantages-item__text The Village, Grazia, peopletalk, www.archi.ru, hq room
