section.clients
	.container.clients__container
		include lines
		.clients__top
			.heading.heading--large.clients__title С нами <br>работают
			.clients__nav.swiper-nav.swiper-nav--white
				button.slider__btn.slider__btn--prev.clients-prev
					+icon("chevron")(width="16", height="30")
				.clients-pagi
				button.slider__btn.slider__btn--next.clients-next
					+icon("chevron")(width="16", height="30")
		//-a.clients__all(href='#', target='_blank') Тут все <span>500</span> довольных клиентов.
		.clients__slider.swiper-container.__js_clients-slider
			.swiper-wrapper
				.clients__item.swiper-slide
					img(src='img/clients/krost.png', srcset='img/clients/krost@2x.png', width='93', height='28', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/lsr.png', srcset='img/clients/lsr@2x.png', width='82', height='33', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/big-city.png', srcset='img/clients/big-city@2x.png', width='157', height='26', alt='')
				.clients__item.clients__item--high.swiper-slide
					img(src='img/clients/aeroflot.png', srcset='img/clients/aeroflot@2x.png', width='146', height='71', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/pfs.png', srcset='img/clients/pfs@2x.png', width='178', height='26', alt='')
				.clients__item.clients__item--high.swiper-slide
					img(src='img/clients/mnr.png', srcset='img/clients/mnr@2x.png', width='112', height='86', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/chkalov.png', srcset='img/clients/chkalov@2x.png', width='112', height='24', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/renaissance.png', srcset='img/clients/renaissance@2x.png', width='132', height='26', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/s7.png', srcset='img/clients/s7@2x.png', width='96', height='31', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/gazprom.png', srcset='img/clients/gazprom@2x.png', width='98', height='48', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/tatneft.png', srcset='img/clients/tatneft@2x.png', width='120', height='33', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/auchan.png', srcset='img/clients/auchan@2x.png', width='88', height='27', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/domodedovo.png', srcset='img/clients/domodedovo@2x.png', width='174', height='31', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/krost.png', srcset='img/clients/krost@2x.png', width='93', height='28', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/lsr.png', srcset='img/clients/lsr@2x.png', width='82', height='33', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/big-city.png', srcset='img/clients/big-city@2x.png', width='157', height='26', alt='')
				.clients__item.clients__item--high.swiper-slide
					img(src='img/clients/aeroflot.png', srcset='img/clients/aeroflot@2x.png', width='146', height='71', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/pfs.png', srcset='img/clients/pfs@2x.png', width='178', height='26', alt='')
				.clients__item.clients__item--high.swiper-slide
					img(src='img/clients/mnr.png', srcset='img/clients/mnr@2x.png', width='112', height='86', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/chkalov.png', srcset='img/clients/chkalov@2x.png', width='112', height='24', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/renaissance.png', srcset='img/clients/renaissance@2x.png', width='132', height='26', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/s7.png', srcset='img/clients/s7@2x.png', width='96', height='31', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/gazprom.png', srcset='img/clients/gazprom@2x.png', width='98', height='48', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/tatneft.png', srcset='img/clients/tatneft@2x.png', width='120', height='33', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/auchan.png', srcset='img/clients/auchan@2x.png', width='88', height='27', alt='')
				.clients__item.swiper-slide
					img(src='img/clients/domodedovo.png', srcset='img/clients/domodedovo@2x.png', width='174', height='31', alt='')
