section.consultation
	.consultation__inner.container.container--small
		h2.consultation__heading Бесплатная консультация менеджера
		.consultation__main
			.consultation__text Вы можете обсудить с менеджером любые вопросы по вашему заказу — он сориентирует вас по составу работ, срокам и стоимости.
			.consultation__manager.manager
				.manager__photo
					img(src="img/manager.png", width="90", height="90", alt="Менеджер Николай")
				.manager__main
					.manager__name Николай
					.manager__post Руководитель отдела продаж
					a.manager__email.bordered-link(href="mailto:info@rammp.ru") info@rammp.ru
			.consultation__info
				a.consultation__phone.bordered-link.bordered-link--large(href="tel:+79268444410") +7 (926) 844-44-10
				.consultation__worktime.worktime Понедельник — Суббота с 09-00 до 18-00
