section.faq
	.faq__inner.container
		h2.faq__heading.heading.heading--large Популярные вопросы
		.faq__accordion.accordion
			ul.accordion__list
				li.accordion__item.accordion__item--active
					button.accordion__item-btn.__js_accordion-btn(type="button") Какой срок службы вентилируемого фасада?
					.accordion__item-text(style="display: block;") Изготовление светопрозрачных конструкций всех типов: типовые ЖК, бизнес центры, торговые центры
				li.accordion__item
					button.accordion__item-btn.__js_accordion-btn(type="button") Как дела?
					.accordion__item-text Изготовление светопрозрачных конструкций всех типов: типовые ЖК, бизнес центры, торговые центры
				li.accordion__item
					button.accordion__item-btn.__js_accordion-btn(type="button") Почему имено вы?
					.accordion__item-text Изготовление светопрозрачных конструкций всех типов: типовые ЖК, бизнес центры, торговые центры
				li.accordion__item.accordion__item--hide
					button.accordion__item-btn.__js_accordion-btn(type="button") Скрытый вопрос 1?
					.accordion__item-text Изготовление светопрозрачных конструкций всех типов: типовые ЖК, бизнес центры, торговые центры
				li.accordion__item.accordion__item--hide
					button.accordion__item-btn.__js_accordion-btn(type="button") Скрытый вопрос 2?
					.accordion__item-text Изготовление светопрозрачных конструкций всех типов: типовые ЖК, бизнес центры, торговые центры
				li.accordion__item.accordion__item--hide
					button.accordion__item-btn.__js_accordion-btn(type="button") Скрытый вопрос 3?
					.accordion__item-text Изготовление светопрозрачных конструкций всех типов: типовые ЖК, бизнес центры, торговые центры

			a.accordion__more.__js_faq-more(href="#") Показать все вопросы

		include lines

