section.feedback
	.container.feedback__container
		.feedback__left
			.feedback__icon
				img(src='img/letter.png', srcset='img/letter@2x.png 2x', width='141', height='152', alt='')
			.heading.feedback__title Обсудим <br> Ваш проект
			.feedback__tell-us Расскажите о проекте и задайте <br> вопросы, мы скоро ответим
			a.feedback__phone(href='tel:+74951503400') +7(495)150-34-00
			a.feedback__mail(href='mailto:mail@glassproekt.ru') mail@glassproekt.ru
			+social('feedback__social', ['facebook', 'instagram'])
	.feedback__form
		include form
