section.webpage__hero.hero
	.hero__slider.swiper-container.__js_hero-slider
		.swiper-wrapper
			.hero__slide.swiper-slide(style="background-image: url('img/hero-slider/slide-1.jpg');")
				.hero__slide-inner.container.container--small
					.hero__slide-aside
						span 12
						span.rouble c
						| /км минимальная ставка
					.hero__slide-main
						.hero__slide-title Доставка металлопроката в день заказа!
						a.hero__slide-btn.btn.btn--theme-white(href="#") Узнать подробнее
			.hero__slide.swiper-slide(style="background-image: url('img/hero-slider/slide-1.jpg');")
				.hero__slide-inner.container.container--small
					.hero__slide-aside
						span 12
						span.rouble c
						| /км минимальная ставка
					.hero__slide-main
						.hero__slide-title Доставка металлопроката в день заказа!
						a.hero__slide-btn.btn.btn--theme-white(href="#") Узнать подробнее
			.hero__slide.swiper-slide(style="background-image: url('img/hero-slider/slide-1.jpg');")
				.hero__slide-inner.container.container--small
					.hero__slide-aside
						span 12
						span.rouble c
						| /км минимальная ставка
					.hero__slide-main
						.hero__slide-title Доставка металлопроката в день заказа!
						a.hero__slide-btn.btn.btn--theme-white(href="#") Узнать подробнее
			.hero__slide.swiper-slide(style="background-image: url('img/hero-slider/slide-1.jpg');")
				.hero__slide-inner.container.container--small
					.hero__slide-aside
						span 12
						span.rouble c
						| /км минимальная ставка
					.hero__slide-main
						.hero__slide-title Доставка металлопроката в день заказа!
						a.hero__slide-btn.btn.btn--theme-white(href="#") Узнать подробнее
		.hero__paginate
		.hero__nav
			button.hero__nav-btn.hero__nav-btn--prev(type="button")
				+icon('arrow-right')(width="9", height="16")
				span.visually-hidden Предыдующий
			button.hero__nav-btn.hero__nav-btn--next(type="button")
				+icon('arrow-right')(width="9", height="16")
				span.visually-hidden Следующий


