section.news
	.container.news__container
		.news__top
			.heading.heading--large.news__title Новости
			.news__nav.swiper-nav
				button.slider__btn.slider__btn--prev.news-prev
					+icon("chevron")(width="16", height="30")
				.news-pagi
				button.slider__btn.slider__btn--next.news-next
					+icon("chevron")(width="16", height="30")
		a.news__all(href='#', target='_blank') Тут все <span>21</span> новости
		.news__slider.swiper-container.__js_news-slider
			.swiper-wrapper
				.news__slide.preview-card.preview-card--with-tags.swiper-slide
					.preview-card__image
						img(src='img/news/item-1.jpg', srcset='img/news/item-1@2x.jpg 2x', width='667', height='444', alt='')
					.preview-card__content
						.preview-card__top
							.preview-card__tags
								a.preview-card__tag(href= URLS.news + '?filter=3') # Выступления
								a.preview-card__tag(href= URLS.news + '?filter=7') # Экспертное мнение
							.preview-card__date 31.03.2017
						.preview-card__bottom
							.preview-card__digit 01
							.preview-card__bottom-wrapper
								.preview-card__title Строительство нуждается в стандартизации применения алюминия
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')(width="12", height="25")
				.news__slide.preview-card.preview-card--with-tags.swiper-slide
					.preview-card__image
						img(src='img/news/item-2.jpg', srcset='img/news/item-2@2x.jpg 2x', width='444', height='666', alt='')
					.preview-card__content
						.preview-card__top
							.preview-card__tags
								a.preview-card__tag(href= URLS.news + '?filter=3') # Выступления
								a.preview-card__tag(href= URLS.news + '?filter=7') # Экспертное мнение
							.preview-card__date 31.03.2017
						.preview-card__bottom
							.preview-card__digit 02
							.preview-card__bottom-wrapper
								.preview-card__title Строительство нуждается в стандартизации применения алюминия
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')(width="12", height="25")
				.news__slide.preview-card.preview-card--with-tags.swiper-slide
					.preview-card__image
						img(src='img/news/item-3.jpg', srcset='img/news/item-3@2x.jpg 2x', width='667', height='444', alt='')
					.preview-card__content
						.preview-card__top
							.preview-card__tags
								a.preview-card__tag(href= URLS.news + '?filter=3') # Выступления
								a.preview-card__tag(href= URLS.news + '?filter=7') # Экспертное мнение
							.preview-card__date 31.03.2017
						.preview-card__bottom
							.preview-card__digit 03
							.preview-card__bottom-wrapper
								.preview-card__title Строительство нуждается в стандартизации применения алюминия
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')(width="12", height="25")
				.news__slide.preview-card.preview-card--with-tags.swiper-slide
					.preview-card__image
						img(src='img/news/item-1.jpg', srcset='img/news/item-1@2x.jpg 2x', width='667', height='444', alt='')
					.preview-card__content
						.preview-card__top
							.preview-card__tags
								a.preview-card__tag(href= URLS.news + '?filter=3') # Выступления
								a.preview-card__tag(href= URLS.news + '?filter=7') # Экспертное мнение
							.preview-card__date 31.03.2017
						.preview-card__bottom
							.preview-card__digit 01
							.preview-card__bottom-wrapper
								.preview-card__title Строительство нуждается в стандартизации применения алюминия
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')(width="12", height="25")
				.news__slide.preview-card.preview-card--with-tags.swiper-slide
					.preview-card__image
						img(src='img/news/item-2.jpg', srcset='img/news/item-2@2x.jpg 2x', width='444', height='666', alt='')
					.preview-card__content
						.preview-card__top
							.preview-card__tags
								a.preview-card__tag(href= URLS.news + '?filter=3') # Выступления
								a.preview-card__tag(href= URLS.news + '?filter=7') # Экспертное мнение
							.preview-card__date 31.03.2017
						.preview-card__bottom
							.preview-card__digit 02
							.preview-card__bottom-wrapper
								.preview-card__title Строительство нуждается в стандартизации применения алюминия
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')(width="12", height="25")
				.news__slide.preview-card.preview-card--with-tags.swiper-slide
					.preview-card__image
						img(src='img/news/item-3.jpg', srcset='img/news/item-3@2x.jpg 2x', width='667', height='444', alt='')
					.preview-card__content
						.preview-card__top
							.preview-card__tags
								a.preview-card__tag(href= URLS.news + '?filter=3') # Выступления
								a.preview-card__tag(href= URLS.news + '?filter=7') # Экспертное мнение
							.preview-card__date 31.03.2017
						.preview-card__bottom
							.preview-card__digit 03
							.preview-card__bottom-wrapper
								.preview-card__title Строительство нуждается в стандартизации применения алюминия
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')(width="12", height="25")
