section.projects
	.container.projects__container
		.projects__top
			.heading.heading--large.projects__title Проекты
			a.projects__all(href= URLS.projects, target='_blank') Показано 3 из 441
			.projects__nav.swiper-nav
				button.slider__btn.slider__btn--prev.projects-prev
					+icon("chevron")(width="16", height="30")
				.projects-pagi
				button.slider__btn.slider__btn--next.projects-next
					+icon("chevron")(width="16", height="30")
		.projects__slider.swiper-container.__js_projects-slider
			.swiper-wrapper
				.projects__slide.preview-card.swiper-slide
					.preview-card__image
						.preview-card__bg-digit 01
						img(src='img/projects/item-1.jpg', srcset='img/projects/item-1@2x.jpg 2x', width='640', height='426', alt='')
					.preview-card__content
						.preview-card__bottom
							.preview-card__digit 01
							.preview-card__bottom-wrapper
								.preview-card__title Внутреннее <br> остекление
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')
				.projects__slide.preview-card.swiper-slide
					.preview-card__image
						.preview-card__bg-digit 02
						img(src='img/projects/item-2.jpg', srcset='img/projects/item-2@2x.jpg 2x', width='640', height='426', alt='')
					.preview-card__content
						.preview-card__bottom
							.preview-card__digit 02
							.preview-card__bottom-wrapper
								.preview-card__title Фасадное <br> остекление
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')
				.projects__slide.preview-card.swiper-slide
					.preview-card__image
						.preview-card__bg-digit 03
						img(src='img/plan/item-1.jpg', srcset='img/plan/item-1@2x.jpg 2x', width='640', height='426', alt='')
					.preview-card__content
						.preview-card__bottom
							.preview-card__digit 03
							.preview-card__bottom-wrapper
								.preview-card__title Внешнее <br> остекление
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')
				.projects__slide.preview-card.swiper-slide
					.preview-card__image
						.preview-card__bg-digit 04
						img(src='img/projects/item-1.jpg', srcset='img/projects/item-1@2x.jpg 2x', width='640', height='426', alt='')
					.preview-card__content
						.preview-card__bottom
							.preview-card__digit 04
							.preview-card__bottom-wrapper
								.preview-card__title Внутреннее <br> остекление
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')
				.projects__slide.preview-card.swiper-slide
					.preview-card__image
						.preview-card__bg-digit 05
						img(src='img/projects/item-2.jpg', srcset='img/projects/item-2@2x.jpg 2x', width='640', height='426', alt='')
					.preview-card__content
						.preview-card__bottom
							.preview-card__digit 05
							.preview-card__bottom-wrapper
								.preview-card__title Фасадное <br> остекление
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')
				.projects__slide.preview-card.swiper-slide
					.preview-card__image
						.preview-card__bg-digit 06
						img(src='img/plan/item-1.jpg', srcset='img/plan/item-1@2x.jpg 2x', width='640', height='426', alt='')
					.preview-card__content
						.preview-card__bottom
							.preview-card__digit 06
							.preview-card__bottom-wrapper
								.preview-card__title Внешнее <br> остекление
								a.preview-card__link(href='#', target='_blank')
									+icon('arrow-down')
