section.services
	.container.services__container
		include lines
		.heading.heading--small.services__title Услуги
		.services__wrapper
			+service-section('services__item', 'Фасадное <br>остекление', '#', [
				{"href": "#", "text": "Остекление фасадов"},
				{"href": "#", "text": "Остекление зданий"},
				{"href": "#", "text": "Остекление бизнес центров"},
				{"href": "#", "text": "Остекление автосалонов"},
				{"href": "#", "text": "Остекление жилых комплексов"},
				{"href": "#", "text": "Фальш остекление"}
			])
			+service-section('services__item', 'Внешнее <br>остекление', '#', [
				{"href": "#", "text": "Алюминиевые витражи"},
				{"href": "#", "text": "Спайдерное остекление"},
				{"href": "#", "text": "Козырьки и навесы"},
				{"href": "#", "text": "Алюминиевые окнаи"},
				{"href": "#", "text": "Входные группыыш"},
				{"href": "#", "text": "Алюминиевые двери"},
				{"href": "#", "text": "Зимние сады"},
				{"href": "#", "text": "Зенитные фонари"},
				{"href": "#", "text": "Стеклянные крыши"}
			])
			+service-section('services__item', 'Внутреннее <br>остекление', '#', [
				{"href": "#", "text": "Стеклянные двери"},
				{"href": "#", "text": "Стеклянные перегородки"},
				{"href": "#", "text": "Офисные перегородки"},
				{"href": "#", "text": "Цельностеклянные перегородки"},
				{"href": "#", "text": "Алюминиевые перегородки"},
				{"href": "#", "text": "Мобильные перегородки"},
				{"href": "#", "text": "Душевые перегородки"},
				{"href": "#", "text": "Сантехнические перегородки"}
			])
			+service-section('services__item', 'Навесные, <br>вентили&shy;руе&shy;мые фасады', '#', [
				{"href": "#", "text": "НВФ клинкерной плиткой"},
				{"href": "#", "text": "НВФ натуральным камнем"},
				{"href": "#", "text": "НВФ  композитным материалом"},
				{"href": "#", "text": "НВФ металлическими кассетами"},
				{"href": "#", "text": "НВФ керамогранитом"}
			])
			+service-section('services__item', 'Авто&shy;ма&shy;ти&shy;зи&shy;ро&shy;ва&shy;нные <br>системы', '#', [
				{"href": "#", "text": "Проветривание и дымоудаление"},
				{"href": "#", "text": "Автоматические входные группы"},
				{"href": "#", "text": "Роллетные системы"},
				{"href": "#", "text": "Секционные ворота"}
			])
			+service-section('services__item', 'Эксклюзивные <br>изделия из стекла', '#', [
				{"href": "#", "text": "Стеклянные ограждения"},
				{"href": "#", "text": "Стеклянные лестницы"},
				{"href": "#", "text": "Стеклянные полы"},
				{"href": "#", "text": "Смарт-стекло"},
				{"href": "#", "text": "Зеркала на заказ"},
				{"href": "#", "text": "Панно из зеркал"}
			])
			+service-section('services__item', 'Изделия из <br>нержавеющей стали', '#', [
				{"href": "#", "text": "Ограждение лестниц"},
				{"href": "#", "text": "Эксклюзивные изделия"}
			])
			+service-section('services__item', 'Конструкции из ПВХ <br>профиля', '#', [
				{"href": "#", "text": "Окна из ПВХ профиля"},
				{"href": "#", "text": "Двери из ПВХ профиля"}
			])
