section.service-modal#service-modal-1(style="display: none")
	button.service-modal__close.__js_fancybox-close(type="button")
		+icon('close')(width="24", height="24")
	.service-modal__inner
		h2.service-modal__heading Структурное остекление
		.service-modal__count 01
		.service-modal__text Разнообразный и богатый опыт новая модель организационной деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Таким образом укрепление и развитие структуры играет важную роль в формировании дальнейших направлений развития.

		.service-modal__image
			img(src="img/services-page/modal.jpg", srcset="img/services-page/modal@2x.jpg 2x", width="720", height="449", alt="")

		ul.service-modal__list
			li.service-modal__item.check-item Разнообразный и богатый опыт новая
			li.service-modal__item.check-item модель организационной деятельности представляет собой
			li.service-modal__item.check-item интересный эксперимент проверки направлений прогрессивного развития.
			li.service-modal__item.check-item Разнообразный и богатый опыт новая
			li.service-modal__item.check-item модель организационной деятельности представляет собой
			li.service-modal__item.check-item интересный эксперимент проверки направлений прогрессивного развития.

		.service-modal__image
			img(src="img/services-page/modal.jpg", srcset="img/services-page/modal@2x.jpg 2x", width="720", height="449", alt="")
