section.services-slider
	.container.services-slider__container
		.services-slider__slider.swiper-container.__js_services-slider
			.swiper-wrapper
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.png', srcset='img/services-slider/item-1@2x.png 2x', width='480', height='648', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 01
								.heading.services-slider__title Фасадное остекление
						.services-slider__content
							.services-slider__digit 01
							.heading.services-slider__title Фасадное остекление
							ul.services-slider__list
								li
									a(href= URLS.servicesDetail, target='_blank') Остекление фасадов
								li
									a(href= URLS.servicesDetail, target='_blank') Остекление зданий
								li
									a(href= URLS.servicesDetail, target='_blank') Остекление бизнес центров
								li
									a(href= URLS.servicesDetail, target='_blank') Остекление автосалонов
								li
									a(href= URLS.servicesDetail, target='_blank') Остекление жилых комплексов
								li
									a(href= URLS.servicesDetail, target='_blank') Фальш остекление
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.png', srcset='img/services-slider/item-1@2x.png 2x', width='480', height='648', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 02
								.heading.services-slider__title Внешнее остекление
						.services-slider__content
							.services-slider__digit 02
							.heading.services-slider__title Внешнее остекление
							ul.services-slider__list
								li
									a(href= URLS.servicesDetail, target='_blank') Алюминиевые витражи
								li
									a(href= URLS.servicesDetail, target='_blank') Спайдерное остекление
								li
									a(href= URLS.servicesDetail, target='_blank') Козырьки и навесы
								li
									a(href= URLS.servicesDetail, target='_blank') Алюминиевые окна
								li
									a(href= URLS.servicesDetail, target='_blank') Входные группы
								li
									a(href= URLS.servicesDetail, target='_blank') Алюминиевые двери
								li
									a(href= URLS.servicesDetail, target='_blank') Зимние сады
								li
									a(href= URLS.servicesDetail, target='_blank') Зенитные фонари
								li
									a(href= URLS.servicesDetail, target='_blank') Стеклянные крыши
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.png', srcset='img/services-slider/item-1@2x.png 2x', width='480', height='648', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 03
								.heading.services-slider__title Внутреннее остекление
						.services-slider__content
							.services-slider__digit 03
							.heading.services-slider__title Внутреннее остекление
							ul.services-slider__list
								li
									a(href= URLS.servicesDetail, target='_blank') Стеклянные двери
								li
									a(href= URLS.servicesDetail, target='_blank') Стеклянные перегородки
								li
									a(href= URLS.servicesDetail, target='_blank') Офисные перегородки
								li
									a(href= URLS.servicesDetail, target='_blank') Цельностеклянные перегородки
								li
									a(href= URLS.servicesDetail, target='_blank') Алюминиевые перегородки
								li
									a(href= URLS.servicesDetail, target='_blank') Мобильные перегородки
								li
									a(href= URLS.servicesDetail, target='_blank') Душевые перегородки
								li
									a(href= URLS.servicesDetail, target='_blank') Сантехнические перегородки
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.png', srcset='img/services-slider/item-1@2x.png 2x', width='480', height='648', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 04
								.heading.services-slider__title Навесные, вентили&shy;руе&shy;мые фасады
						.services-slider__content
							.services-slider__digit 04
							.heading.services-slider__title Навесные, вентили&shy;руе&shy;мые фасады
							ul.services-slider__list
								li
									a(href= URLS.servicesDetail, target='_blank') НВФ клинкерной плиткой
								li
									a(href= URLS.servicesDetail, target='_blank') НВФ натуральным камнем
								li
									a(href= URLS.servicesDetail, target='_blank') НВФ композитным материалом
								li
									a(href= URLS.servicesDetail, target='_blank') НВФ металлическими кассетами
								li
									a(href= URLS.servicesDetail, target='_blank') НВФ керамогранитом
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.png', srcset='img/services-slider/item-1@2x.png 2x', width='480', height='648', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 05
								.heading.services-slider__title Авто&shy;ма&shy;ти&shy;зи&shy;ро&shy;ва&shy;нные системы
						.services-slider__content
							.services-slider__digit 05
							.heading.services-slider__title Авто&shy;ма&shy;ти&shy;зи&shy;ро&shy;ва&shy;нные системы
							ul.services-slider__list
								li
									a(href= URLS.servicesDetail, target='_blank') Проветривание и дымоудаление
								li
									a(href= URLS.servicesDetail, target='_blank') Автоматические входные группы
								li
									a(href= URLS.servicesDetail, target='_blank') Роллетные системы
								li
									a(href= URLS.servicesDetail, target='_blank') Секционные ворота
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.png', srcset='img/services-slider/item-1@2x.png 2x', width='480', height='648', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 06
								.heading.services-slider__title Эксклю&shy;зив&shy;ные изделия из стекла
						.services-slider__content
							.services-slider__digit 06
							.heading.services-slider__title Эксклю&shy;зив&shy;ные изделия из стекла
							ul.services-slider__list
								li
									a(href= URLS.servicesDetail, target='_blank') Стеклянные ограждения
								li
									a(href= URLS.servicesDetail, target='_blank') Стеклянные лестницы
								li
									a(href= URLS.servicesDetail, target='_blank') Стеклянные полы
								li
									a(href= URLS.servicesDetail, target='_blank') Смарт-стекло
								li
									a(href= URLS.servicesDetail, target='_blank') Зеркала на заказ
								li
									a(href= URLS.servicesDetail, target='_blank') Панно из зеркал
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.png', srcset='img/services-slider/item-1@2x.png 2x', width='480', height='648', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 07
								.heading.services-slider__title Изделия из нержа&shy;вею&shy;щей стали
						.services-slider__content
							.services-slider__digit 07
							.heading.services-slider__title Изделия из нержа&shy;вею&shy;щей стали
							ul.services-slider__list
								li
									a(href= URLS.servicesDetail, target='_blank') Ограждение лестниц
								li
									a(href= URLS.servicesDetail, target='_blank') Эксклюзивные изделия
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.png', srcset='img/services-slider/item-1@2x.png 2x', width='480', height='648', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 08
								.heading.services-slider__title Конструк&shy;ции из ПВХ профиля
						.services-slider__content
							.services-slider__digit 08
							.heading.services-slider__title Конструк&shy;ции из ПВХ профиля
							ul.services-slider__list
								li
									a(href= URLS.servicesDetail, target='_blank') Окна из ПВХ профиля
								li
									a(href= URLS.servicesDetail, target='_blank') Двери из ПВХ профиля
		.services-slider__top
			a.services-slider__more(href= URLS.services, target='_blank') Услуги
			.services-slider__nav.swiper-nav
				button.slider__btn.slider__btn--prev.services-slider-prev
					+icon("chevron")(width="16", height="30")
				.swiper-pagination.services-slider-pagi
				button.slider__btn.slider__btn--next.services-slider-next
					+icon("chevron")(width="16", height="30")
		.services-slider__thumbs.swiper-container.__js_services-thumbs
			.swiper-wrapper
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 01
						p.title Фасадное <br> остекление
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 02
						p.title Внешнее <br> остекление
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 03
						p.title Внутреннее <br> остекление
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 04
						p.title Навесные, вентилируемые фасады
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 05
						p.title Автоматизированные системы
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 06
						p.title Эксклюзивные изделия из стекла
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 07
						p.title Изделия из нержавеющей стали
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 08
						p.title Конструкции из ПВХ профиля
