.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.relative {
	position: relative;
}

.d-none {
	display: none !important;
}

.rouble {
	font-family: $font-family--rouble;
}

/* swiper */
.swiper-pagination {
	position: relative;
}

.swiper-container-horizontal > .swiper-scrollbar {
}

.swiper-pagination-bullets {
	display: flex;
	align-items: center;
	margin: 0 39px;
}

.swiper-pagination-bullet {
	width: 5px;
	height: 5px;
	margin: 0 1px;
	//background-color: $color-gray-c9;
	opacity: 1;

	@include media(md) {
	}

	&-active {
		width: 9px;
		height: 9px;
		margin: 0 2px;
		background-color: $color-blue;
	}

	&:hover,
	&:focus {
		outline: none;
	}
}
