mixin logo(isHome, cl)
	if (isHome)
		a(class= cl + " logo")
			img(src="img/logo.svg", width="91", height="88", alt="Логотип Раменский металлопрокат")
	else
		a(class= cl + " logo", href= URLS.home)
			img(src="img/logo.svg", width="91", height="88", alt="Логотип Раменский металлопрокат")



